<% title((ENV['groom_name'] || APP_CONFIG[:groom_name]) + " and " + (ENV['bride_name'] || APP_CONFIG[:bride_name]) + "'s Guest List")%>

<p>
  Total people: <%= Person.all.size %><br />
  Total invitations: <%= link_to Family.all.size, list_families_path(:display => "invitations") %><br />
  Total attending: <%= Person.attending.size %><br />
  Total declined: <%= Person.declined.size %><br />
  Total not yet responded: <%= Person.not_responded.size %><br />
  A-List people: <%= link_to Person.all(:joins => :family, :conditions => "families.list = 'A List'").size, list_families_path(:display => "a-list") %><br />
  B-List people: <%= link_to Person.all(:joins => :family, :conditions => "families.list = 'B List'").size, list_families_path(:display => "b-list") %><br />
  <br />
  <% Food.all(:order => :name).each do |food| %>
    Total eating <%= food.name.downcase %>: <%= link_to food.people.size, food %><br />
  <% end %>
</p>

<% @groups.each do |group| %>
  <h2><%= group.name %> <span style="font-size: 10px">(<%= group.families.map(&:people_count).sum %>)</span></h2>
  
  <% group.families.each do |family| %>
    
    <%= check_box_tag "family[misc_checkbox]", "1", family.misc_checkbox, 
    		:onclick => remote_function(
    	  		:url => url_for(toggle_misc_checkbox_family_path(family)),
    	  		:method => :put,
    	  		:before => "Element.show('spinner-admin-#{family.id}')",
    	  		:complete => "Element.hide('spinner-admin-#{family.id}')",
    	  		:with => "this.name + '=' + this.checked") %>
  
    <%- if family.list == "A List" -%>
      <span style="font-size: 10px; color: green">A</span>
    <%- elsif family.list == "B List" -%>
      <span style="font-size: 10px; color: red">B</span>
    <%- end -%>
    <%= link_to family.name, family %> 
    <small>(<%= family.people_count %> total, <%= family.people.attending.size %> attending)</small>
    <%= image_tag 'spinner.gif', :id => "spinner-admin-#{family.id}", :style => 'display: none' %>
    <br />

  <% end %>
<% end %>