<% title((ENV['groom_name'] || APP_CONFIG[:groom_name]) + " and " + (ENV['bride_name'] || APP_CONFIG[:bride_name]) + "'s Guest List")%>

<p>
  People invited: <%= Person.all.size %><br />
  Total invitations: <%= Family.all.size %><br />
  Total coming: <%= Person.all(:conditions => { :attending => true } ).size %><br />
  Total declined: <%= Person.all(:conditions => { :attending => false } ).size %><br />
  Total not yet responded: <%= Person.all(:conditions => { :attending => nil } ).size %><br />
  A-List people: <%= Person.all(:joins => :family, :conditions => "families.list = 'A List'").size %><br />
  B-List people: <%= Person.all(:joins => :family, :conditions => "families.list = 'B List'").size %><br />
  <br />
  <% Food.all(:order => :name).each do |food| %>
    Total eating <%= food.name.downcase %>: <%= Person.all(:conditions => { :food_id => food.id }).size %><br />
  <% end %>
</p>

<% @groups.each do |group| %>
  <h2><%= group.name %> <small>(<%= pluralize(group.families.map(&:people_count).sum, "person") %> invited)</small></h2>
  
  <% group.families.all(:order => :name).each do |family| %>
  
    <%= link_to family.name, family %> 
    (<%= pluralize(family.people_count, "person")%>)
    <br />

  <% end %>
<% end %>