<% title "Foods" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for food in @foods %>
    <tr>
      <td><%=h food.name %></td>
      <td><%= link_to "Show", food %></td>
      <td><%= link_to "Edit", edit_food_path(food) %></td>
      <td><%= link_to "Destroy", food, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Food", new_food_path %></p>
